@import "base";
#success_code {
    @media (min-width: 1904px){
        max-width: 1200px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    .box{
        min-width:100%;
        min-height:100%;
        border: 1px solid grey;
        box-shadow: 0px 0px 5px 5px #c0bebe;
        border-radius: 10px;
        padding: 25px;
        .title{
            width: 100%;
            h3{
                width: 100%;
                font-size: 30px;
            }
            .detail{
                font-size: 15px;
                font-weight: 8px;
                color: grey;
            }
        }
        .info-user{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 20px 0;
            .name{
                font-size: 15px;
                font-weight: 8px;
                color: grey;
                .info-content{
                    color: black;
                }
            }
        }
        .nameOrder{
            font-weight: bold;
            font-size: 20px;
        }
        .product{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
            img{
                left: 20px;
                width: 100px;
            }
            .name{
                font-weight: bold;

            }
            .qty-number{
                font-weight: bold;
            }
            .subtotal-price{
                font-weight: bold;
            }
        }
        .price{
            display: flex;
            flex-direction: column;
            padding: 20px 10px;
            position: relative;
            min-height: 20vh;
            .price-content{
                position: absolute;
                right: 10px;
                top:0px;
                .subtotal{
                    .total-price{
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
            }
        }
        .right{
            padding: 10px;
            font-size: 18px;
            font-weight: bold;
        }
    }
}
